/* tudo */
* {
  margin: 0;
  padding: 0;
}

/* corpo */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

/* cabeçalho */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#292421;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-bottom: 2px rgb(148, 54, 0 ) solid;
}

header h1 {
  font-size: 40px;
}

.menu-btn{
    display:none;
}

header nav ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
  font-size: 25px;
  color: rgb(148, 54, 0);
}

header nav a:hover {
  color: rgb(148, 54, 0);
  transition: 0.5s;
}

header a {
  text-decoration: none;
  color: white;
}

/* conteúdo principal*/

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #292421;
  color: white;
}

/* cardapio */
#cardapio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292421;
  color: white;
}

.itens-cardapio {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
  gap: 30px;
}

.item-cardapio {
  color: white;
  border: 4px solid rgb(148, 54, 0);
  border-radius: 8px;
  overflow: hidden;
  background: #201c19;
}

.item-cardapio p {
  font-size: 17px;
  font-weight: bolder;
  padding: 5px;
}

#cardapio .itens-cardapio .item-cardapio img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.item-cardapio summary,
.item-cardapio p {
  text-align: center;
  padding: 2px;
}

.item-cardapio summary {
  border-bottom: 4px solid rgb(148, 54, 0);
  font-size: 23px;
  font-weight: bolder;
}

.banner {
  flex: 1.4;
  width: 100%;
}

main .textos {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textos .promocao {
  width: 95%;
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.textos .promocao h1 {
  font-weight: bolder;
  text-align: center;
  margin: 15px;
  padding: 3%;
  border-bottom: solid white 2px;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

.textos .promocao ol {
  flex: 1;
  font-size: 22px;
  padding-left: 11%;
  padding-top: 5%;
  
}

.textos button {
  background-color: rgb(148, 54, 0);
  color: white;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 9%;
  margin: 50px;
  font-size: 25px;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.textos button a {
  text-decoration: none;
  color: white;
}

.textos button:hover {
  background-color: rgb(102, 38, 0);
  cursor: pointer;
}

.textos .imagens {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  width: 100%;
  background-color: white;
  color: black ;
}

.textos .imagens .card img {
  width: 200px;
  height: 120px;
  border: 1px solid black;
  border-radius: 5px;
}

.textos .imagens .card h3,
.textos .imagens .card p {
  text-align: center;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.textos .imagens .card p {
  font-size: 20px;
}

/* contato */ 
.main-cardapio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(102, 38, 0);
}

.contatos {
  flex: 1;
  background-color: white;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.form-contatos {
  margin: auto 3% auto auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  color: black;
  width: 38%;
  max-width: 500px;
  padding: 35px;
}

.cartao-contato {
  margin: auto auto auto 3%;
}

.form-contatos input,
.form-contatos textarea {
  font-size: 25px;
  border: 2px solid rgb(148, 54, 0);
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
}

.form-contatos button {
  background-color: rgb(148, 54, 0);
  color: white;
  font-size: 32px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-style: normal;
}

.form-contatos button:hover {
  background-color: rgb(102, 38, 0);
  cursor: pointer;
}

.form-contatos h2,
.cartao-contato h2 {
  font-size: 45px;
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-bottom: 15px;
}

.form-contatos h2 {
  border-bottom: 2px solid rgb(148, 54, 0 );
}

.cartao-contato h2 {
  border-bottom: 2px solid white;
}

.cartao-contato span {
  color: rgb(148, 54, 0);
  margin-right: 8px;
  margin-left: 35px;
  font-size: 35px;
}

.cartao-contato p {
  font-size: 25px;
}

.cartao-contato h3 {
  text-align: center;
  font-size: 32px;
  padding: 10px;
}

.cartao-contato {
  background-color: #292421;
  color: white;
  width: 38%;
  max-width: 500px;
  height: 100%;
  padding: 30px;
  border-radius: 8px;
}

/* rodapé */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background-color: #292421;
  color: white;
  font-weight: bolder;
  padding: 8px;
    border-top: 2px rgb(148, 54, 0 ) solid;
}

footer .txt {
  font-size: 14px;
  text-align: center;
}

footer .endereco p {
  font-size: 14px;
  text-align: center;
}

footer .imgs {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

footer .imgs .redes {
  display: flex;
  justify-content: center;
  gap: 10px;

}
footer .imgs p {
  font-size: 14px;
  text-align: center;
}

footer .imgs .redes img {
  width: 30px;
  height: 30px;
}

/* placeholder */

.placeholder {
  flex: 1;
  background-color: white;
  width: 85%;
  height: 100%;
}

/* Responsividade */

@media (max-width: 768px) {
header{
        flex-direction:row;
        align-items:center;
    }

header h1 {
  font-size: 25px;
}

    .menu-btn{
    display:block;
    font-size:32px;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    z-index:1001;
}

#menu{
    position:fixed;

    top:0;
    right:-260px;

    width:250px;
    height:100vh;

    background:#292421;

    transition:0.3s;

    display:flex;
    justify-content:center;
    align-items:flex-start;

    padding-top:80px;

    z-index:1000;
}

#menu.ativo{
    right:0;
}

#menu ul{
    display:flex;
    flex-direction:column;
    gap:25px;
    list-style:none;
}

#menu a{
    color:white;
    text-decoration:none;
    font-size:24px;
}

main{
    flex-direction: column;
}

.textos .imagens{
    flex-direction: column;
    gap:20px;
}


.itens-cardapio{
    grid-template-columns:1fr;
}

.item-cardapio img{
    height:220px;
}

.contatos{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
}

.form-contatos,
.cartao-contato {
  padding: 2px;
  width: 400px;
  margin: auto;
  padding: 20px 0 20px 0;
}

.cartao-contato p {
  font-size: 20px;
}

footer{
    flex-direction: column;
    gap:20px;
    text-align:center;
}
}