/* tudo */
* {
  margin: 0;
  padding: 0;
}

/* corpo */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

/* cabeçalho */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#292421;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3%;
  padding-right: 3%;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header h1 {
  font-size: 40px;
}

header nav ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
  font-size: 25px;
  color: rgb(148, 54, 0);
}

header nav a:hover {
  color: rgb(148, 54, 0);
  transition: 0.5s;
}

header a {
  text-decoration: none;
  color: white;
}

/* conteúdo principal*/

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #292421;
  color: white;
}

main img {
  flex: 1.4;
  width: 100%;
}

main .textos {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textos .promocao {
  width: 95%;
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.textos .promocao h1 {
  font-weight: bolder;
  text-align: center;
  margin: 15px;
  padding: 3%;
  border-bottom: solid white 2px;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

.textos .promocao ol {
  flex: 1;
  font-size: 25px;
  padding-left: 8%;
  padding-top: 5%;
  
}

.textos button {
  background-color: rgb(148, 54, 0);
  color: white;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 10%;
  margin: 50px;
  font-size: 25px;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.textos button a {
  text-decoration: none;
  color: white;
}

.textos button:hover {
  background-color: rgb(102, 38, 0);
  cursor: pointer;
}

.textos .imagens {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 45px;
  width: 100%;
  background-color: white;
  color: black ;
  padding-top: 5px;
  padding-bottom: 10px;
}

.textos .imagens .card img {
  width: 200px;
  height: 120px;
  border: 1px solid black;
  border-radius: 5px;
}

.textos .imagens .card h3,
.textos .imagens .card p {
  text-align: center;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.textos .imagens .card p {
  font-size: 20px;
}

/* rodapé */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background-color: #292421;
  color: white;
  font-weight: bolder;
  padding: 8px;
}

footer .txt {
  font-size: 14px;
  text-align: center;
}

footer .endereco p {
  font-size: 14px;
  text-align: center;
}

footer .imgs {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

footer .imgs .redes {
  display: flex;
  justify-content: center;
  gap: 10px;

}
footer .imgs p {
  font-size: 14px;
  text-align: center;
}

footer .imgs .redes img {
  width: 30px;
  height: 30px;
}

/* placeholder */

.placeholder {
  background-color: white;
  width: 100%;
}